<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">



    <bean id="sqlSessionFactory_misc" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_misc"/>
        <!-- 配置mybatis配置文件的位置 -->
        <property name="configLocation" value="classpath:mapper/misc/mybatis-config.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_misc"/>
        <property name="basePackage" value="com.lichking.datasource.switcher.dao.misc"/>
    </bean>

    <bean id="transactionManager_misc" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource_misc"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager_misc"/>


    <bean id="sqlSessionFactory_base" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource_base"/>
        <!-- 配置mybatis配置文件的位置 -->
        <property name="configLocation" value="classpath:mapper/base/mybatis-config.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory_base"/>
        <property name="basePackage" value="com.lichking.datasource.switcher.dao.base"/>
    </bean>


    <bean id="transactionManager_base" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource_base"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager_base" />

</beans>